header, nav, main, footer {
	display: block;
	width: 1078px;
}

body {
	color: #ffffff;
	background-color: #000000;
	margin: 0px;
	text-align: center
}

header {
	color: #fafafa;
	height: 100px;
	position: relative;
}

nav {
	font-size: 20px;
	margin-top: 25px;
	height: 50px;
	width: auto;
}

main {
	height: auto;
	overflow: hidden;
}

footer {
	clear: both;
}

#container {
	font-size: 20px;
	position: relative;
	margin: auto;
	width: 1078px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ffffff;
}

#col-left {
	background-color: #006acc;
	width: 200px;
	height: 200px;
	float: left;
}

#col-center {
	background-color: #fafafa;
	color: black;
	height: auto;
	width: 878px;
	float: left;
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 80px;
	height: 80px;
	border: 2px dotted #731980;
}

#logo img {
	max-height: 80px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

th {
	background-color: gray;
}

tr:nth-child(even) {
	background-color: lightgray;
}

ul.top-menu, ul.top-menu li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: center;
	margin: auto;

}

ul.top-menu li {
	display: block;
	float: left;
	width: 23%;
	margin: 0 1%;

}

ul.top-menu li a {
	display: block;
	width: 100%;
	background-color: lightblue;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	border-style: solid;
	border-radius: 25px;

}

ul.top-menu li a:hover {
	background-color: blue;
}

ul.top-menu li.active a {
	font-weight: bold;
}